@charset "utf-8";
/* @keyframes moving{
  from{left: 100%;}
  to{left:80%;}
}
@keyframes menu{
  from{height: 0px;}
  to{height:310px;}
} */
* { 
    margin: 0;
    padding:0;
    font-family: 'Noto Sans Kr','맑은 고딕', '돋움', 'sans-serif';
}
.container {padding:0;
            max-width: 1280px !important; 
            width: 970px;
            margin-left: auto;
            margin-right: auto;}