@charset "utf-8";

.logo {display:inline; width: 100px;}
.logo a {display:inline; width: 100px;}
.logo img {
            width: 100px; 
            height: 50px;
            object-fit:contain;
            border:1px solid black;
            box-sizing:border-box; 
            display:inline;}
.container img {width: 1200px;}